<!-- HEADER
Copyright 2018 Pierre LE DU

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see https://www.gnu.org/licenses/.
-->

<% if (user.type >= 5 && (user.profil.viewerMode == 0 || (user.profil.viewerMode == 1 && !mobile))) { %>
  <%- include('modals/modal_schedule') %>

  <div class="pen-mod" href="#">🖊</div>
  <div class="schedule-mod">
    <a id="btn_undo_s" class="disabled">↺</a>
    <a id="btn_redo_s" class="disabled">↻</a>
    <!-- Trigger/Open The Modal -->
    <a id="btn_modif_s">Modification</a>
    <a id="btn_archive_s" class="disabled">Archives</a>
    <a id="btn_modif_p">Projet</a>
    <a id="btn_modif_t">Team</a>
  </div>
<% } %>

<div class="conf">*** DOCUMENT CONFIDENTIEL ***</div>
<div class="schedules-header"></div>
<div class="schedules-content">
  <!-- display Schedule project-->
</div>

<script type="text/javascript" src="schedule.js"></script>
<% if (user.type >= 5 && (user.profil.viewerMode == 0 || (user.profil.viewerMode == 1 && !mobile))) { %>
  <script type="text/javascript" src="modal.js"></script>
  <script type="text/javascript" src="modal_sch.js"></script>
  <script type="text/javascript" src="modal_prj.js"></script>
  <script type="text/javascript" src="modal_team.js"></script>
  <script type="text/javascript" src="picker.js"></script>
  <script type="text/javascript" src="date_picker.js"></script>
<% } %>
