/* ---------------------------- HEADER -----------------------------
Copyright 2018 Pierre LE DU

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see https://www.gnu.org/licenses/.
----------------------------------------------------------------- */


/* ---- Init ---- */
html,body,div,h1,h2,h3,h4,h5,h6,select {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
body {
  font: 16px/1.4em Calibri, Sans-Serif;
  background: #FFF;
  /*background: url(Image6.PNG) no-repeat center center fixed;
  background-size: cover;*/
}
h1 {
  color: #02658e;
  text-align: center;
  padding: 1em 0 0 0;
  font-size: 3em;
  font-weight: 700;
}
p {
  margin: 0.975em 0 0.2em 0;
  font-size: 0.775em;
  color: #02658e;
  letter-spacing: 1px;
}
.clear {
  clear:both;
}

/* ---- Main ---- */
.main {
  margin: 4em auto;
  width: 50%;
}
.btn_close {
  top: 0;
  right: 0;
  position: absolute;
  text-decoration: none;
  top: 22px;
  right: 19px;
  font-size: 36px;
  margin-left: 56px;
  font-size: 35px;
  color: #02658e;
}
.btn_close:hover, .btn_close:focus {
  color: #000;
}

/* ---- Logo ---- */
.logo a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.2em;
  min-height: 1.8em;
}
.logo a img {
  width: 60%;
  height: auto;
}

/* ---- Signin-form ---- */
.signin-form {
  background-size: cover;
  padding: 2em 2em;
  text-align: center;
}
.signin-form h3 {
  font-size: 2em;
  color: #02658e;
  font-weight: 700;
  margin-bottom: 1.5em;
}
.signin-form h3 span {
  color: #67e1ff;
}
.login-form {
  margin: 1em 0 2.5em;
}
.signin-form input[type="text"], .signin-form input[type="password"], .signin-form select {
  width: 100%;
  padding: 1em 0 1em 0;
  font-size: 0.8em;
  outline: none;
  color: #02658e;
  border: none;
  border-bottom: 2px solid #02658e;
  letter-spacing: 1px;
  text-align:center;
  background: none;
  display: block;
}
.signin-form select {
  text-align-last: center;
  padding-left: 9px;
}
option {
  background: #FFF;
}
::-webkit-input-placeholder{
  color: #02658e !important;
}
.signin-form input[type="submit"] {
  outline: none;
  padding: 0.9em 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  margin-top: 1em;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #02658e;
  box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
  border-radius: 22px;

}
.signin-form input[type="submit"]:hover {
  color: #fff;
  background: #000;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
}
.signin-form p a {
  font-size: 0.875em;
  color: #02658e;
  letter-spacing: 1px;
}

/* ---- Copyright ---- */
.copyright {
  margin: 2em;
  text-align: center;
}
.copyright p {
  font-size: 1em;
  color: #02658e;
  line-height:1.8em;
}
.copyright p a{
  color: #02658e;
}
.copyright p a:hover{
  color:#56c8dc;
}

/* ---- Media queries ---- */
@media only screen and (min-width: 768px) {
  h1.logo a img {
    width: 30%;
  }

  h3 {
    font-size: 1em;
  }
  p {
    font-size: 0.875em;
  }
}

/* ---- Responsive-design ---- */
@media(max-width:1440px){
  .main {
    width: 56%;
  }
}
@media(max-width:1366px){
  .main {
    width: 59%;
  }
}
@media(max-width:1280px){
  h1 {
    font-size: 2.5em;
  }
  .main {
    width: 63%;
  }
}
@media(max-width:1080px){
  .main {
    width: 74%;
    margin: 2em auto;
  }
}
@media(max-width:1024px){
  .main {
    width: 82%;
  }
  .signin-form {
    padding: 3em 2.5em;
  }
}
@media(max-width:991px){
  .main {
    width: 85%;
  }
}
@media(max-width:900px){
  .main {
    width: 93%;
  }
}
@media(max-width:800px){
  .main {
    width: 51%;
  }
  .signin-form p a {
    line-height: 1.8em;
  }
}
@media(max-width:768px){
  .main {
    width: 53%;
  }
}
@media(max-width:736px){
  .main {
    width: 55%;
  }
}
@media(max-width:667px){
  .main {
    width: 61%;
  }
}
@media(max-width:640px){
  .main {
    width: 64%;
  }
}
@media(max-width:600px){
  .main {
    width: 68%;
  }
}
@media(max-width:568px){
  .main {
    width: 72%;
  }
}
@media(max-width:480px){
  .main {
    width: 78%;
  }
  h1 {
    font-size: 2.2em;
  }
  .profile {
    margin-top: 2em;
  }
  .signin-form {
    padding: 2em 2em;
  }
  .copyright p {
    font-size: 0.9em;
  }
}
@media(max-width:414px){
  .signin-form {
    padding: 2em 1.5em;
  }
  .signin-form h3 {
    margin-bottom: 1em;
  }
  .login-form {
    margin: 1em 0 1.5em;
  }
}
@media(max-width:384px){
  h1 {
    font-size: 2em;
  }
}
@media(max-width:375px){
  .main {
    width: 79%;
  }
}
@media(max-width:320px){
  h1 {
    font-size: 1.6em;
  }
  .main {
    width: 89%;
    margin: 1.5em auto;
  }
  .login-form {
    margin: 1em 0 1.5em;
  }
  .signin-form {
    padding: 1.5em 1.5em;
  }
  .signin-form h3 {
    font-size: 1.5em;
  }
  .signin-form input[type="submit"] {
    padding: 0.7em 0;
    font-size: 0.9em;
  }
  .signin-form p a {
    font-size: 0.9em;
  }
  .signin-form p a {
    line-height: 1.5em;
  }
  .copyright {
    margin: 1em;
  }
}
